
.preloader{
    background: #000 url(../../assets/logo/200w.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    @media(max-width: 800px){
        background-size: 40%;
    }
}
header{
    

        // RESPONSE
        .nav-response{
            background-color:#fff ;
            position: sticky !important;
            top: 0;
            width: 100% !important;
            height: 60px;
            @media(min-width:1201px){
                display: none;
            }
            
          .logo-response{
            float: left;
            padding: 5px;
            .namee{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
    
           
          }
    
    
    
        .mainNav-response{
            float: right;
          
            .icon-bars{
                 margin: 15px 20px 0 0;
                 font-size: 25px;
            }
    
        }
    
    
    }



    position: sticky;
    top:0px;
    padding-bottom: 0px;
    z-index: 20;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    .showee{
        display: inline !important;
    }
    
    .active{
        background-color:#FACC2C;

    }
    .active1{
        content: url(../../assets/logo/Untitled\ design\ \(30\).png);
    }
    .active2{
        &:hover{
           color:white !important;
        }
    }
    .active3{
        &:hover{
           color:white !important;
        }
    }
    .active4{
        border: 1px solid black !important;
    }

    .active5{
        // background-color:#FACC2C !important;\
      
     background-color:#FACC2C !important;

     


    }
    
    
    .nav{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        display:flex;
       flex-wrap: wrap;
       justify-content:space-between;
       align-items: center;
       padding:7px 5px !important;
       @media(max-width:1200px){
        display: none;
       }
      
       .name{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
       span{
           font-weight: bolder;
           font-size: max(20px,1.2vw);
       }
       }
        
       ul{
           display: flex;
           align-items: center;
           gap: 2em;
           .produkti{
               display: flex;
               i{
                   padding: 0px 5px;
   
               }

               .Produkti{
                font-size:20px;
                font-weight: bold; 
                &:hover{
                    color: #FACC2C;
                   
                    }
               }
               .arrowup{
                position: relative;
                .mainProdukt{
                    display: flex !important;
                    flex-direction: column ;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    padding: 5px 15px;
                    position: absolute;
                    left: 10px;
                    border-radius: 3px;
                    width:max(15%,18vw);
                    z-index: 10;
                    
                    a{
                        font-size: max(18px,0.9vw);
                        color:black;
                        &:hover{
                            background-color: #FACC2C;
                        }
                        padding: 10px 10px;

                    
                }
                    
                }
               }
               
           }
           li{
               list-style: none;
              
   
               a{
                   text-decoration: none;
                   color:black;
                   font-size: max(20px,1vw);
                   font-weight: bolder;
                   &:hover{
                       color: #FACC2C;
       
                   }
               }
               i{
                   padding-top: 5px !important; 
                   color: black;
                   
               }
               
               
           }
          
         
   }
   .Search{
       display: flex;
       align-items: center !important;
   
       .search{
           input{
             
               padding: 5px;
               border: 1px solid #FACC2C;
               &:focus{
               outline: none;
           }
           }
           i{
               padding: 5px;
               font-size: max(18px,0.9vw);
           }
       }
   }
   }
}
body{

     // Messanger


     .main-msg2{

        @media(max-width:1600px){
            width: 40%;
        }
        @media(max-width:900px){
            width: 55%;
        }
       
        width: 25%;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        position: fixed;
        bottom: 110px;
        right: 30px;
        z-index: 40;
        background-color: white;
        border-radius: 10px;
        @media(max-width:600px){
            width: 95%;
            right: 11px;
            bottom: 110px;

        }
        .header{
            display: flex;
            background-color: #FAFAFA;
            padding: 20px;
            position: relative;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            @media(max-width:600px){
                padding: 10px;
            }

            .close-res-msg2{
                position: absolute;
                right: 15px;
                top: 15px;
                font-size: 20px;

            }
             .img{
                border-radius: 40px;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px !important;
               height: 70px;
               width: 70px;
               position: relative;
               img{
                border-radius: 40px;
               }
               .green{
                position: absolute;
                bottom:3px;
                right: 7px;
                
                background-color:rgb(58, 249, 0);
                height: 9px;
                width: 9px;
                border-radius: 20px;
               }
            }
            .account{
                line-height: 40%;
                padding: 10px;
            }

            h2{
                font-size: max(17px,1rem);
            }
            p{
                font-size: max(12px,0.8rem);
            }
        }



        .body{
            display: block;
            padding: 30px;
            align-content: center;
            p{
                display: flex;
                justify-content: center;
            }
            .chat{
                display: flex;
            .img{
                border-radius: 40px;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px !important;
               height: 50px;
               width: 50px;
               position: relative;
               img{
                border-radius: 40px;
               }
               
            }
            .comment{
                background-color: #F1F0F0;
                padding: 15px 10px 15px 15px;
                width: 90%;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                margin: 10px;
               


            }
        }
        
        .btn-msg{
            margin: auto;
            display: flex;
           width: 90%;
           padding: 12px 0;
           justify-content: center;
           border-radius: 10px;
           background-color: #1A91FF;
           text-decoration: none !important;
           margin-top: 30px ;


            button{
                background-color: #1A91FF;
                border: none;
                display: flex;
                align-items: center;
                color: white;
                font-size: 17px;


            i{
                font-size: 16px;
                padding: 2px;
                color: white;

            }
        }
    }
            

        }
    }

    .messanger2{
        position: fixed;
        z-index: 40;
        padding: 25px;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
        border-radius: 40px;
        background-color: white;
        bottom: 20px;
        right: 20px;
        // box-shadow: rgba(0, 0, 255, 0.35) 0px 5px 15px; 
        // box-shadow:
        box-shadow: rgba(16, 4, 242, 0.4) 0px 30px 90px;
        .red{
            position: absolute;
            background-color: red;
            padding: 4px;
            border-radius: 20px;
            top: 9px;
            right: 8px;
        }
        i{
            font-size: 30px;
            color: #0a64e3;
        }
    }














    // Main

    .Main-Reponse{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        z-index: 20;
        background-color: white;
        height: 90%;
        justify-content:center;
        transition:2s;
        
    
        padding: 0 10% 0 10%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
         @media(max-width:770px){
            width: 50%;
         }   
         @media(max-width:426px){
            width: 70%;
    
         }
        .name{
            position: relative;
            bottom: 20%;
            left: 40%;
            text-decoration: none !important;
            span{
                color: black;
                font-weight: bold;
                font-size: 30px;
            }
            img{
                @media(max-width:470px){
                width: 70px !important;
                height: 70px !important;
                }
            }
            
        }
        .fa-xmark{
            position: absolute;
            top: 3%;
            right: 3%;
            color: red;
            font-size: 20px;
        }
        .mainNav{
            .fa-angle-down{
                @media(max-width:470px){
                   font-size: 15px;
                }
            }
        }
        ul{
            margin: 0;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: max(28px,1.5vw);
                    @media(max-width:770px){
                        font-size: 23px;
                    }
                    @media(max-width:430px){
                        font-size: 18px;
                    }
                    &:hover{
                        color: #F8CF40;
                    }
                }
               
                
            }
          .produkti{
            display: flex;
            align-items: center;
            i{
                font-size: 20px;
                @media(max-width:600px){
                    font-size: 15px !important;
                }
    
            }
            .Produkti{
                font-size: max(28px,1.5vw);
                font-weight: bold; 
                &:hover{
                    color: #FACC2C;
                   
                    }
                    @media(max-width:770px){
                        font-size: 23px;
                    }
                    @media(max-width:430px){
                        font-size: 18px;
                    }
    
               }
    
            
    
            .arrowup{
                 display: flex;
                 
                
            }
            .fa-solid{
                padding: 5px;
            }
        }
    
    
        .mainProduktResponse{                
            display: flex;
            flex-direction: column ;
            gap: 0.2rem;
           
            a{
                text-decoration: none;
                font-weight: bold;
                color:black;
               
    
    
                span{
                    font-size: 20px;
                    @media(max-width:770px){
                        font-size: 18px;
                    }
                    @media(max-width:430px){
                        font-size: 16px;
                    }
                    &:hover{
                        color: #F8CF40;
                    }
    
                    
                }
                i{
                    // margin-right: 10px !important;
                    width: 20px;
                    height: 20px;
                    
                }
            }
          
        }
    
        }

        .iconeFooter{
            position: absolute;
            bottom: 15%;
            left: 40%;
            a{
                font-size: 20px;
                
            }
        }
    
    }
    
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .Sunglass{
        position: relative;
        content:url(../../assets/Photo/Ora/Background/foto.jpg);
        height: 550px;
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        @media(max-width:800px){
            height: 450px;
            content: url('../../assets/Photo/Ora/Background/ora.jpg');
        }
     @media(max-width:500px){
        height: 300px;
     }
      

        
        
       
    }
    .icon-glass{
        position: absolute;
        top: 28%;
        left: 50%;
        height: 50px !important;
        width: 50px !important;
        color: white;
        @media(max-width:800px){
            font-size: 30px;
        }
        @media(max-width:500px){
            top: 20%;
        }
        
        
    }
    
    h1{
            
        position: absolute !important;
        top: 35%;
        left: 30%;
        z-index: 5;
        width: 50%;
        color: white;
        @media(max-width:800px){
            font-size:18px;
            top: 27%;
            width: 75%;
            left:20%;
        }
        @media(max-width:500px){
            width: 80%;
            left: 12%;
            top: 30%;
            font-size: 15px;

        }
        
        
    
    
   }
   





.ProduktetFundit{


    padding-top: 5%;
    h1{
    margin-left: 40%;
    margin-top: 10%;
    
    }





    // MODAL

    .infosell1{
        background-color: rgb(17, 176, 17);
        width: 30%;
        padding: 30px;
        position: fixed;
        top: 27%;
        left: 35%;
        @media(max-width:800px){
            width: 70%;
            left: 13%;
        }
        @media(max-width:600px){
            width: 83%;
            left: 0.4%;
        }
        p{
            
            font-size: 17px;
            @media(max-width:600px){
                font-size: 14px !important;
            }
        }
        h2{
            @media(max-width: 600px){
                 font-size: 16px;
            }
        }
        .close-mark-sell1{
           position: absolute;
           right: 5%;
           top: 5%;
           font-size: 20px;
           color: red;
        }
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            h3{
                span{
                    font-size: 25px;
                }
            }
            .iconeFooter{
                
                a{
                    i{
                font-size: 20px;
                @media(max-width:600px){
                    font-size: 16px;
    
                }
            }
        }
        }
        p{
            font-size: max(15px,0.8rem);
        }
    
        }
    
    }














    .modal-2{
        h4{
            position: absolute;
            top: 0;
            left: 26%;
            font-size: 20px;
        }
        width: 50%;
        height: auto;
        padding: 2.5%;
        background-color: #ffffff;
        margin: auto;
        z-index: 20;
        position: fixed;
        top: 4%;
        left: 23%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @media(max-width:500px){
            top: 1%;
        }
        
        @media(max-width:800px){
            width: 92%;
            left: 1.3%;

        }

        .fa-xmark{
            position: absolute;
            top: 3%;
            right: 4%;
            color: red;
            font-size: 20px;


        }
        .iconeFooter{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1rem;
            i{
                font-size: 25px;
            }
        }

        .Detajet{
            strong{
                @media(max-width:500px){
                font-size: 12px;
                span{
                    font-size: 10px;
                }
              }
    
            }
        }

        .body{
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0.7rem;
                width: 100%;
                margin: auto;
    
                .inputfoto{
                    position: absolute;
                    top: 0;
                 }
                
              .form-group{
                width: 20%;
                display: flex;
                justify-content: center;
    
                @media(min-width:550px){
                    height: 35px !important;
                    width: 35%;
                }
                @media(max-width:540px){
                    width: 130px;
                }
    
            
                input{
                    width: 100%;
                    height: 5px;
    
                    @media(min-width:560px){
                        height: 13px !important;
                        padding: 10px 10px;
    
                        }
                        @media(max-width:550px){
                            padding: 10px 0;
    
                        }
                        
                    
                    
                }
                .button-modal2{
                    @media(min-width:600px){
                        width: 50%;
                        padding: 10px 16px;
                    }
                    width: 100%;
                    padding: 5px 20px;
                }
                
            }
                
    
            }
        
    }
    .footer{
        p{
            color: red;
        }
    }

    .footer{
        p{
        @media(max-width:470px){
            
              font-size: 13px;
            
        }
    }
    i{
        font-size: 16px;
    }
    }

    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width:470px){
            flex-direction: column;
        }
        strong{
            span{
                font-weight: normal;
                @media(max-width:500px){
                    font-size: 12px;
                }
            }
        }

        .Detajet{
            padding:3px;
        }
    }
    
    .slider {
        display: block;
        position: relative;
        width: 55%;
        max-width: 600px;
        margin: 10px;
        background-color: white;
        overflow: hidden;
        @media(max-width:500px){
            width: 80%;
        }
    }
    
    .slider__slides {
      width: 100%;
      padding-top: 66%;
    }
    
    .slider__slide {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bold;   
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lemonchiffon;
        transition: 1s;
        opacity: 0;
    }
    
    .slider__slide.active {
        opacity: 1;
        height: 100%;
        img{
           height: 100%;
        }
    }
    
    .slider__slide img {
      width: 100%;
    }
    
    .slider__nav-button {
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: #333;
        opacity: .8;
        cursor: pointer;
    }
    
    #nav-button--prev {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    
    #nav-button--next {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    
    #nav-button--prev::after,
    #nav-button--next::after {
        content: "";
        position: absolute;
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        width: 40%;
        height: 40%;
    }
    
    #nav-button--next::after{
        top: 50%;
        right: 50%;
        transform: translate(25%, -50%) rotate(-45deg);
    }
    
    #nav-button--prev::after {
        top: 50%;
        right: 50%;
        transform: translate(75%, -50%) rotate(135deg);
    }
    
    .slider__nav {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
    .slider__navlink {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px #fff solid;
        background-color: #333;
        opacity: 1;
        margin: 0 10px 0 10px;
        cursor: pointer;
    }
    
    .slider__navlink.active {
        background-color: #fff;
        border: 1px #333 solid;
    }
    
    
    @media screen and (max-width: 640px) {
      .slider__nav-button {
        height: 40px;
        width: 40px;
      }
      .slider__navlink {
        height: 12px;
        width: 12px;
      }
    }

    
    .ProduktetMeTeShitura{
    // border: 1px solid black;
    margin: 5% 10%;
    padding: 1%;
    h2{

        display: flex;
        justify-content: center;
    }

    .ProduktetShitura{
        display: flex;

    .Photo{
        img{
        border-radius: 20px;
    }
}
.text{
    padding: 10px 20px;
    position: relative;
    button{
        padding: 10px 20px;
        border: none;
        background-color: green;
        color: white;
        border-radius: 15px;
        position: absolute;
        bottom: 10%;
        left: 4%;
        &:hover{
            background-color: crimson;
            color: black;
        }
    }
}
    }

    }



 .TeGjithaProduktet{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8%;
    gap: 1%;
    justify-content: center;
        

    .Card{
        // width: 40%;
        flex-basis: 24%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-bottom: 2%;
        opacity: 1;
        border-radius: 7px;

        @media(max-width:1200px){
          flex-basis: 30%;

        }
        @media(max-width:900px){
            flex-basis: 40%;

        }
        @media(max-width:600px){
            flex-basis: 100%;
            margin-bottom: 5%;
            height: auto;

        }



        
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                   }
        .CmimiProd{
            display: flex;
            flex-direction:column;
            align-items: center;
            padding: 15px 10px;
            p{
                line-height: 0%;

            }
            span{
                font-weight: bold;
                font-size: max(18px,1rem);
            }
            button{
                font-size: max(17px,1rem);
                 padding:7px 45px;
                border: none;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                 border-radius: 3px;
                &:hover{
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;                           }
            }
        }
    }
 }



}


}

footer{
    margin-top: 20%;
   hr{
    width: 85%;
    margin: auto;
    background-color: black;
    height: 0.5px;
   }
    background-color: #F8CF40;
    .headerFooter{
        
        padding: 7% 8% 3% 7%;
        display: flex;
        gap: 4rem;
        

            @media(max-width:900px){
                flex-direction: column;
                gap: 2rem;

                .logoFooter{
                    margin: auto;
                    img{
                        @media(max-width:600px){
                            height: 90px !important;
                            width: 90px !important;
                        }
                    }
                }
                
                .divi1,.divi2,.divi3,.divi4{
                    width: 80%;
                    margin: auto;
                    p{
                        font-size: max(14px,0.8rem);
                    }
                    @media(max-width:700px){
                        width: 60% !important;
                    }
                }
            


            
        }
        @media(max-width:700px){
            padding: 2% 1% 2% 1% !important
        }
        
    }
    
    
    .footerFooter{
        width: 100%;
        .iconeFooter{
            width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 5% 0 0 0;
        


    
        i{
            font-size: 30px;
            // border: 1px solid white;
            // border-radius: 10px;
            &:hover{
                color:white;
            }
            @media(max-width:600px){
                font-size: 20px;
            }
        }
    }
   .copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:0.1em;
    p{
        @media(max-width:600px){
            font-size: 13px;
        }
    }
   }
    }



}




